 body {
    background-color:#030a49;
    color: rgb(150,40,70);
    text-align: center;
    font-family: "Garamond", serif;
}
a, h1, h2 { color: rgba(32, 127, 27, 0.716); text-decoration: none;}
h1 {font-size: 550%;}
h2 { font-size: 500%;}
p { font-size: 300%;}
.return-link {text-align: left; color: red; background-color: rgb(101, 100, 100); margin-right: 100%;}
.names {color: black; font-weight: bold;}